* {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

body a:hover {
	color: red;
	text-decoration: none;
  transition: all 0.5s ease-in-out 0.1s;
}

.text:hover {
	text-decoration: none;
	color: white;
}

.relative {
	position: relative;
}

.color1 {
  color: #d35266;
}

.color2 {
	color: #888;
}

.color3 {
	color: #383838;
}

.color4 {
	color: white;
}

.color5 {
	color: gray;
}

.font1 {
	font-size: 40px;
}

.d-flex {
	display: flex;
	align-items: center;
}

.jcsb {
	justify-content: space-between;
}

.jcsa {
	justify-content: space-around;
}

.jcc {
	justify-content: center;
}

header nav ul {
	background-color: #383838;
	padding: 0 2rem;
	position: fixed;
}

button {
	background-color: #d35266;
	padding: 0.5rem;
	border: none;
}

.posts a {
	margin: 0 0.5rem;
}

.user {
  width: 50px;
  height: 50px;
  border-radius:50px;
	margin-left: 20px;
}

.u-data button {
	margin-right: 20px;
}

.sec-1 {
	background-color: #d35266;
	height: 50vh;
	text-align: center;
}

.sec-1 h1 {
	font-size: 150px;
}

.sec-1 p {
	font-size: 20px;
}

.inp1 {
	width: 250px;
	height: 60px;
	margin: 0 1px;
}

.btn1 {
	margin-left: 10px;
	background-color: #383838;
	height: 60px;
	width: 100px;
}

.carousel {
  background-color: #888;
  overflow: auto;
  white-space: nowrap;
}

.carousel-2 {
  overflow: auto;
}

.ads {
	padding-right: 100%;
	width: 700px;
}

.text-sec-2 {
	width: 700px;
}

.button1 {
	width: 80px;
}

.button2 {
	width: 140px;
}

.sec-2 button:last-child {
	border-left: 1px solid #383838;
}

.carousel img {
  display: inline;
  padding: 25px;
}
/*makes scrollbar invisible in crhome*/
html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
    background-color: #d35266;
}
/*makes scrollbar invisible in crhome*/

@media (max-width: 510px) {
	* {
		border: 1px solid blue !important;
	}

	.n-xxs {
		display: none;
	}

	.text-sec-2 {
		width: 200px !important;
	}

	.ads {
		width: 200px !important;
	}

}

@media (max-width: 600px) {
	.n-xs {
		display: none;
	}
}

@media (max-width: 768px) {
	* {
		border: 1px solid red;
	}

	.n-movil {
		display: none;
	}

	.text-sec-2 {
		width: 400px;
	}

	.ads {
		width: 400px;
	}

}

@media (max-width: 900px) {
	.n-movil {
		display: none;
	}

	.logo {
		color: #d35266;
	}

	.color1 {
		color: #888;
	}

	.color2 {
		color: #d35266;
	}
}
